html
body
ul 
  margin:0
  padding:0
ul 
  list-style: none
td 
  padding: 0
  margin: 0
.table
  padding: 0 10px
.table__row 
  margin: 0
  padding: 0
  width: 100%
  background: rgb(190, 209, 209)
  &__item
  &__header 
    border: 1px solid rgb(240, 240, 240)
    width: 100%
    &--id
      width: 5em
    &--number
      text-align: right
  &__header 
    background: rgb(240, 240, 240)
  &__item:first-child 
    padding-left: 10px
.btn 
  background: rgb(240, 240, 240)
  text-align: center
  cursor: pointer
  &:hover 
    background: rgb(103, 103, 103)
    color: rgb(242, 243, 252) 
.flatadd
  padding: 0
  margin: 0
  width: 100%
  &:hover 
    font-weight: bold
tr.object__edit 
  background: rgb(242, 235, 208)
  display: none
  &.edit--active 
    display: table-row
td.object__edit 
  display: none
  &.edit--active 
    display: table-cell

.topmenu
  &__item 
    display: inline-block
    cursor: pointer
    margin: 10px 0 10px 10px
    padding: 5px
    border: 1px solid rgb(180,180,180)
    font-size: 1.2em
    &.active 
      background: rgb(240, 240, 240)

.tab__item 
  display: none
  li&.active 
    display: list-item
  &__frame 
    position: absolute
    width: 100%
    border: 0
    top: 50px
    height: 600px
.detailFrame 
  width: 100%
  height: 300px
  border: 0
  margin-top: 20px
