ul {
  list-style: none;
}
td {
  padding: 0;
  margin: 0;
}
.table__row {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #bed1d1;
}
.table__row__item,
.table__row__header {
  border: 1px solid #f0f0f0;
  width: 100%;
}
.table__row__item--id,
.table__row__header--id {
  width: 5em;
}
.table__row__header {
  background: #f0f0f0;
}
.table__row__item:first-child {
  padding-left: 10px;
}
.btn {
  background: #f0f0f0;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: #676767;
  color: #f2f3fc;
}
.flatadd {
  padding: 0;
  margin: 0;
  width: 100%;
}
.flatadd:hover {
  font-weight: bold;
}
.object__edit {
  background: #f2ebd0;
  display: none;
}
.object__edit.edit--active {
  display: table-row;
}
